<ion-header no-border>
    <ion-navbar color="cinza">
      <ion-row text-center>
          <ion-title *ngIf="true" class="Titulo" text-center >Editar tarefa</ion-title>
          <ion-title *ngIf="false" class="Titulo" text-center >Editar subtarefa</ion-title>
          <button (click)="voltar()" item-end color="danger" ion-button clear item-end icon-only>
              <ion-icon name='md-close'></ion-icon>
          </button>
      </ion-row>
    </ion-navbar>
</ion-header>


<ion-content id="app_fundo_cinza">
<form [formGroup]="signupForm" novalidate> 
    <ion-list inset>
    <ion-item style="background-color: rgba(255, 255, 255, 0); color: white">
      <ion-label color="light" >Titulo:</ion-label>
      <ion-input [ngModel]="tarefa.titulo" color="light" formControlName="titulo" type="text" placeholder="Titulo da tarefa" [class.invalid]="!signupForm.controls.titulo.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item style="background-color: rgba(255, 255, 255, 0);" class="error-message" *ngIf="!signupForm.controls.titulo.valid
                          && signupForm.controls.titulo.dirty">
      <p style="color: white">Por favor informe um titulo com até 30 caracteres</p>
    </ion-item>
    <ion-row padding >
      <h5 id="letraBranca">Descrição:</h5>
      <textarea ngModel="{{tarefa.desc}}" #myInput formControlName="desc" placeholder="Descrição da tarefa" id="myInput" rows="1" maxLength="300" (keyup)="resize()"></textarea>
    </ion-row>
    <ion-row padding >
        <h5 id="letraBranca">Recurso:</h5>
        <textarea ngModel="{{tarefa.recurso}}" #Recurso formControlName="recurso" placeholder="Recurso necessário" id="myInput" rows="1" maxLength="300" (keyup)="resizeRecurso()"></textarea>
    </ion-row>
    <ion-item style="background-color: rgba(255, 255, 255, 0);">
      <ion-label color="light">Data de inicio</ion-label>
      <ion-datetime ngModel="{{tarefa.dataI}}" color="light" style="color: white" placeholder="{{tarefa.dataI}}" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" min="2018" max="2028" doneText="ok" cancelText="cancelar" formControlName="dataI" >
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="signupForm.value.dataI" style="background-color: rgba(255, 255, 255, 0);">
        <ion-label color="light">Data de fim</ion-label>
        <ion-datetime ngModel="{{tarefa.dataF}}" color="light" style="color: white" placeholder="{{tarefa.dataF}}" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" max="2028" min="2018" doneText="ok" cancelText="cancelar" formControlName="dataF" >
        </ion-datetime>
    </ion-item>
  </ion-list> 
    <ion-item-divider no-lines text-center color="blueDark">Subtarefas</ion-item-divider>
    <ion-item (click)="addSubtarefa()" style="background-color: rgba(255, 255, 255, 0); color: white">
        <ion-icon color="light" name="add" item-end></ion-icon>
        Adicionar subtarefa
    </ion-item>
    <div *ngIf="subtarefas != null">
    
    <ion-list *ngFor="let sub of subtarefas" (click)="EditarSubtarefa(sub)" inset>
        <ion-grid>
            <div class="itens">
                <div id="x" (click)="rmSubtarefa(sub)">
                    <ion-icon id="Xicon" color="light" name="md-close"></ion-icon>
                </div>
                <div class="itens2" align-items-center>
                    <ion-row text-center>
                        <ion-col>
                            <p>
                                <a id="subTitulo">{{sub.titulo}}</a><br>
                                <a  *ngIf="sub.participantes != null"> {{sub.participantes.length}} participantes </a>
                                <a  *ngIf="sub.participantes == null">não há participantes </a>
                            </p>
                        </ion-col>
                    </ion-row>
                </div>
                <div id="divisor" ></div>
                <br>
                <div class="itens2" text-center>
                    <ion-row id="letraGrande">
                        <ion-col>
                            <span id="letraVerde">inicio:{{sub.dataI}}</span>
                        </ion-col>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-col>
                            <span id="letraVermelha">fim:{{sub.dataF}}</span>
                        </ion-col>  
                    </ion-row>
                </div>
                <br>
            </div>
          </ion-grid>
      </ion-list>

  </div>
    <div class="edit" id="centro">
      <ion-fab bottom>
          <button ion-fab (click)="editarTarefa()" color="blueDark" [disabled]="!signupForm.valid"><ion-icon name="md-checkmark"></ion-icon></button>
      </ion-fab>
    </div>
  </form>
  <br><br>
  <br><br>
</ion-content>
