page-tarefas-info {
    .edit{
        position: fixed;
        z-index: 101; 
        bottom: 5px;
        left: 12px;
    }
    
    #centroTI{
        display: flex;
        justify-content: center;
        width: 100%;
    }   

    #centroTI2{
        margin-left: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }   

    #letraVermelha{
        color: red;
    }

    #letraVerde{
        color: green;
    }
    .titulo{
        font-size: 20px;
        color: white;
    }
    .Titulo{
        margin-left: 25px;
    }
    #letraclara{
        color: rgb(0, 0, 0);
    }
    .identar{
        padding: 0 20px 0 20px;
        text-align: center;
    }
    .itens{
        background-color: white;
        text-align: center;
        border: 2px;
        border-radius: 10px;
    }
    .itens2{
        border: 2px;
        border-radius: 10px;
        background-color: white;
        padding: 0 20px 0 20px;
        text-align: center;
    }
    #centroTinfo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #divisor{
        background-color: rgb(187, 187, 187);	
        height: 1px;
        width: 100%;
    }
    #subTitulo{
        font-size: 20px;
        color: black;
    }
    p{
        color: blue;
    }
    #letraGrande{
        font-size: 15px;
    }
    #subTituloP{
        font-size: 15px;
        color: black;
    }
    .itens3{
        border: 2px;
        border-radius: 49px 10px 10px 49px ;
        background-color: white;
    }

    .fotoCirculo{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .fotoTI{
        height: 100px;
        width: 100px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin-left: 0px;
        margin-right: auto;
        box-shadow: 0 2px 13px rgba(0, 0, 0, 0.7);
    }

    .listaTI{
        padding: 7px 10px 7px 10px;
    }
    
    #x{ 
        padding: 10px 0 0 0;
        background-color: transparent;
        width: 100%;
        height: 40px;
        border: 2px;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        width: auto;
        height: auto;
    }

    #thumb{
        width: 100px;
        height: 100px;
    }
    
}
