
<ion-header no-border>
        <ion-navbar color="cinza">
                <ion-row>
                    <div id="menu-item">
                    <img menuToggle id="menu" src="assets/images/menu_b.svg"/>
                    </div>
                    <ion-title text-center>Gerenciar usuários</ion-title>
                </ion-row>
        </ion-navbar>
</ion-header>

<ion-content  id="app_fundo_cinza">
  <ion-searchbar (ionInput)="getUsers($event)"></ion-searchbar>
  <ion-list *ngIf="usuariosPesq.length != 0" padding>
      <ion-item *ngFor="let usuario of usuariosPesq" (click)="infoUser(usuario)">
        <ion-thumbnail item-start>
            <img src="{{usuario.imagem}}">
        </ion-thumbnail>
        <h2>{{usuario.nome}}</h2>
        <h4>{{usuario.cargo}}</h4>
        <h4>{{usuario.setor}}</h4>
        <h4>{{usuario.email}}</h4><br>
        <ion-row>
            <ion-icon *ngFor="let modulo of usuario.modulos" color="{{modulo.acesso}}" item-end small name="md-disc" ></ion-icon>
        </ion-row>
      </ion-item>
  </ion-list>
  <ion-list *ngIf="usuariosPesq.length == 0" padding>
      <ion-item *ngFor="let usuario of usuarios" (click)="infoUser(usuario)">
        <ion-thumbnail item-start>
            <img src="{{usuario.imagem}}">
        </ion-thumbnail>
        <h2>{{usuario.nome}}</h2>
        <h4>{{usuario.cargo}}</h4>
        <h4>{{usuario.setor}}</h4>
        <h4>{{usuario.email}}</h4><br>
        <ion-row>
            <ion-icon *ngFor="let modulo of usuario.modulos" color="{{modulo.acesso}}" item-end small name="md-disc" ></ion-icon>
        </ion-row>
      </ion-item>
  </ion-list>
    <div *ngIf="usuarios == null"  id="centro">
        <ion-spinner id="spinner" color="light"  name="ios-small"></ion-spinner><br>
    </div>
    <div style="color: white;" *ngIf="usuarios == null"  id="centro">
        CARREGANDO PERFIL
    </div>
</ion-content>
