<ion-header>
  <ion-navbar color="navBar">
          <ion-row>
              <div id="menu-item">
              <img menuToggle id="menu" src="assets/images/menu_b.svg"/>
              </div>
              <ion-title text-center>Criar conta</ion-title>
          </ion-row>
  </ion-navbar>
</ion-header>

 
<ion-content padding id="app_fundo">

  <form *ngIf="confirme == true" [formGroup]="ConfirmarForm" (submit)="confirmar()" novalidate>
      <ion-item  id="semCor">
        <ion-label id="letraBranca"  stacked>Seu CPF</ion-label>
        <ion-input id="letraBranca" formControlName="cpf" type="number" placeholder="CPF"></ion-input>
      </ion-item>
      <ion-item  id="semCor">
        <ion-label id="letraBranca"  stacked>Seu numero de matrícula</ion-label>
        <ion-input id="letraBranca" formControlName="matricula" type="text" placeholder="Matricula"></ion-input>
      </ion-item>
      <button color="blueDark" ion-button block type="submit" [disabled]="!ConfirmarForm.valid">
        Confirmar
      </button>
  </form>  

	<form *ngIf="confirme == false" [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item id="semCor">
        <div id="center">
            <img (click)="presentActionSheet()" id="fotos" src={{imageURL}} />
        </div>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca" stacked>Nome completo</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.nome" formControlName="nome" type="text" placeholder="Seu primeiro nome"></ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca">CPF</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.cpf" formControlName="cpf" type="number" placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca"  stacked>Telefone</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.telefone" formControlName="telefone" type="number" placeholder="Seu numero de telefone"></ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca"  stacked>Curso</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.curso" formControlName="curso" type="text" placeholder="Seu curso"></ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca"  stacked>Semestre</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.semestre" formControlName="semestre" type="text" placeholder="Seu semestre"></ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca"  stacked>Celular</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.celular" formControlName="celular" type="number" placeholder="Seu numero de celular"></ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca" stacked>Cep</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.cep" formControlName="cep" type="number" placeholder="Seu Cep">
    </ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca" stacked>Endereço</ion-label>
      <ion-input id="letraBranca" [ngModel]="UserPerfil.endereco" formControlName="endereco" type="text" placeholder="Seu endereço"></ion-input>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca">Email</ion-label>
      <ion-input id="letraBranca" formControlName="email" type="email" placeholder="Email válido" [class.invalid]="!signupForm.controls.email.valid && blur"></ion-input>
    </ion-item>
    <ion-item id="semCor" class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      <p id="letraBranca">Por favor informe um email válido</p>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca" stacked>Senha</ion-label>
        <ion-input id="letraBranca" formControlName="password" type="password" placeholder="Sua senha" [class.invalid]="!signupForm.controls.password.valid && blur">
    </ion-input>
    </ion-item>
    <ion-item id="semCor" class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      <p id="letraBranca" >A senha precisa conter mais de 6 caracteres.</p>
    </ion-item>
    <ion-item id="semCor">
      <ion-label id="letraBranca" stacked>Confirmar senha</ion-label>
        <ion-input id="letraBranca" formControlName="Cpassword" type="password" placeholder="Confirme sua senha" [class.invalid]="!(signupForm.value.Cpassword == signupForm.value.password) && blur">
    </ion-input>
    </ion-item>
    <ion-item id="semCor" class="error-message" *ngIf="!(signupForm.value.Cpassword == signupForm.value.password) && signupForm.controls.Cpassword.dirty">
      <p id="letraBranca" >As senhas precisam ser identicas.</p>
    </ion-item>
    <button color="blueDark" ion-button block type="submit" [disabled]="!signupForm.controls.email.valid || !signupForm.controls.password.valid || !(signupForm.value.Cpassword == signupForm.value.password)">
      Criar conta
    </button>
  </form>
</ion-content>
