
<ion-header no-border>
    <ion-navbar color="blueDark">
            <ion-row>
                <button *ngIf="modo == 'view'" (click)="voltar()" ion-button clear item-start icon-only>
                    <img  id="voltar" src="assets/images/arrow-back.png">
                </button>
                <ion-title text-center>Permissões</ion-title>
                <button *ngIf="modulo.update == true && modo == 'view'" (click)="save()" ion-button clear item-end icon-only>
                    <img  id="voltar" src="assets/images/save.png">
                </button>
                <button *ngIf="modo == 'add'" color="danger" ion-button clear item-end (click)="cancelAdd()" icon-only>
                    <ion-icon name='md-close'></ion-icon>
                </button>
            </ion-row>
    </ion-navbar>
</ion-header>

<ion-content  id="info">
    <ion-list *ngIf="modo == 'view'" padding>
      <div padding id="fundoFoto">
            <div id="fotoNome">
                <img  id="fotoInfo" src="{{usuario.imagem}}">
            </div>
      </div>
      <ion-item>
        <ion-row>
            <ion-col id="centro" col-12>
                <h2 id="pText">
                  <a style="color:darkgray">Nome:</a><br>
                  {{usuario.nome}} 
                </h2> 
            </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row>
          <ion-col id="centro" col-6>
              <h2 id="pText">
                <a style="color:darkgray">Cargo:</a><br>
                {{usuario.cargo}} 
              </h2> 
          </ion-col>
          <ion-col id="centro" col-6>
            <h2 id="pText">
              <a style="color:darkgray">Setor:</a><br>
              {{usuario.setor}}
            </h2>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
          <ion-row>
              <ion-col id="centro" col-12>
                <h2 id="pText">
                  <a style="color:darkgray">Email:</a><br>
                  {{usuario.email}}<br><br>
                  <a style="color:darkgray">Telefone:</a><br>
                  {{usuario.telefone}}
                </h2>
              </ion-col>
          </ion-row>
      </ion-item>
    <ion-item-divider no-lines text-center color="blueDark">MÓDULOS</ion-item-divider>
      <ion-item *ngIf="modulo.add == true" (click)="adicionar()">
        <ion-label style="text-transform: uppercase; font-weight: 900;">Adicionar Módulo</ion-label>
        <ion-icon name="add" item-end></ion-icon>
      </ion-item>
    <ion-list padding *ngFor="let modulo of usuario.modulos">
      <ion-item>
        <ion-label style="text-transform: uppercase; font-weight: 900;">{{modulo.title}}</ion-label>
        <ion-toggle [(ngModel)]="modulo.acesso" checked="{{modulo.acesso}}" ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Adicionar:</ion-label>
        <ion-toggle [(ngModel)]="modulo.add" checked="{{modulo.add}}"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Deletar:</ion-label>
          <ion-toggle [(ngModel)]="modulo.delete" checked="{{modulo.delete}}"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Editar:</ion-label>
          <ion-toggle [(ngModel)]="modulo.update" checked="{{modulo.update}}"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Viualizar:</ion-label>
          <ion-toggle [(ngModel)]="modulo.leitura" checked="{{modulo.leitura}}"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="modulo.title == 'Tarefas'">
          <ion-label>Arquivar:</ion-label>
          <ion-toggle [(ngModel)]="modulo.arquivar" checked="{{modulo.arquivar}}"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="modulo.title == 'Tarefas'">
          <ion-label>Pesquisar:</ion-label>
          <ion-toggle [(ngModel)]="modulo.pesq" checked="{{modulo.pesq}}"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-list>

  <ion-list padding *ngIf="modo == 'add'">
    <ion-item no-lines>
          <ion-label item-start >Módulo:</ion-label>
          <h3  item-start>{{moduloAdd.title}}</h3>
          <ion-select item-end color="light" style="color: white" [(ngModel)]="moduloAdd.title">
            <ion-option color="light" *ngFor="let moduloo of modulos" value="{{moduloo.title}}">{{moduloo.title}}</ion-option>
          </ion-select>
    </ion-item>
    <ion-list  *ngIf="moduloAdd.title != 'modulo'" padding>
      <ion-item (click)="teste()" >
        <ion-label style="text-transform: uppercase; font-weight: 900;">{{moduloAdd.title}}</ion-label>
        <ion-toggle [(ngModel)]="moduloAdd.acesso" checked="{{moduloAdd.acesso}}" ></ion-toggle>
      </ion-item>
      <ion-item (click)="teste(modulo)">
        <ion-label>Adicionar:</ion-label>
        <ion-toggle [(ngModel)]="moduloAdd.add" checked="{{moduloAdd.add}}"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Deletar:</ion-label>
          <ion-toggle [(ngModel)]="moduloAdd.delete" checked="{{moduloAdd.delete}}"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Editar:</ion-label>
          <ion-toggle [(ngModel)]="moduloAdd.update" checked="{{moduloAdd.update}}"></ion-toggle>
      </ion-item>
      <ion-item>
          <ion-label>Viualizar:</ion-label>
          <ion-toggle [(ngModel)]="moduloAdd.leitura" checked="{{moduloAdd.leitura}}"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="moduloAdd.title == 'Tarefas'">
          <ion-label>Arquivar:</ion-label>
          <ion-toggle [(ngModel)]="moduloAdd.arquivar" checked="{{moduloAdd.arquivar}}"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="moduloAdd.title == 'Tarefas'">
          <ion-label>Pesquisar:</ion-label>
          <ion-toggle [(ngModel)]="moduloAdd.pesq" checked="{{moduloAdd.pesq}}"></ion-toggle>
      </ion-item>
  </ion-list>
    <button *ngIf="moduloAdd.title != 'modulo'" color="blueDark" ion-button  block round large (click)="adicionar()">
        Adicionar Módulo
    </button> 
  </ion-list>
  </ion-content>
  