<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-navbar color="cinza">
                <ion-row>
                    <div id="menu-item">
                    <img menuToggle id="menu" src="assets/images/menu_b.svg"/>
                    </div>
                    <ion-title text-center>Cautelas</ion-title>
                </ion-row>
        </ion-navbar>
        <ion-segment color="light" style="background-color: darkgray;" [(ngModel)]="caut">
                <ion-segment-button style="color:white;" value="caut">
                  Cautelas
                </ion-segment-button>
                <ion-segment-button style="color:white;" value="caut_pa">
                  <ion-badge *ngIf="caut_pa_noti != 0" color="danger" >{{caut_pa_noti}}</ion-badge>
                  Para votação
                </ion-segment-button>
                <ion-segment-button style="color:white;" value="caut_a">
                  Aprovadas
                </ion-segment-button>
        </ion-segment>
</ion-header>
        

<ion-content padding id="app_fundo_cinza">
    <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
            id="refresher_app"
            pullingIcon="ios-arrow-up"
            refreshingSpinner="ios"
            refreshingText="Atualizando..."
            ></ion-refresher-content>
    </ion-refresher>
    <div id="edit" *ngIf="modulo != [] && modulo.add == true">
        <ion-fab bottom right>
            <button style="background-color: rgba(13, 29, 86, 0.809);" ion-fab (click)="Modal('add','add')"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
    </div>

    <div *ngIf="modulo != []" [ngSwitch]="caut">
        <ion-list *ngSwitchCase="'caut'">
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            
            <ion-list  *ngIf="modo != 'add' && cautPesq.length != 0" >
                <ion-item *ngFor="let cautela of cautPesq" (click)="Modal(cautela,'edit')">
                  <h2>{{cautela.titulo}}</h2>
                  <p>{{cautela.data}}</p>
                  <ion-icon item-end small [color]="cautela.status" name="md-disc" ></ion-icon>
                  <ion-icon *ngIf="modulo.leitura == true" color="primary" name="md-eye" item-end ></ion-icon>
                  <ion-icon *ngIf="modulo.leitura == false" color="danger" item-end name="md-eye-off"></ion-icon>
                </ion-item>
            </ion-list>

            <ion-list *ngIf="modo != 'add' && cautPesq.length == 0" >
                <ion-item *ngFor="let cautela of cautelas" (click)="Modal(cautela,'edit')">
                  <h2>{{cautela.titulo}}</h2>
                  <p>{{cautela.data}}</p>
                  <ion-icon item-end small [color]="cautela.status" name="md-disc" ></ion-icon>
                  <ion-icon *ngIf="modulo.leitura == true" color="primary" name="md-eye" item-end ></ion-icon>
                  <ion-icon *ngIf="modulo.leitura == false" color="danger" item-end name="md-eye-off"></ion-icon>
                </ion-item>
            </ion-list>

        </ion-list>

        <ion-list *ngSwitchCase="'caut_pa'">
            <ion-list *ngIf="modo != 'add' && cautelas_pa.length != 0" >
                <ion-item *ngFor="let cautela of cautelas_pa" (click)="Modal(cautela,'votar')">
                  <h2>{{cautela.titulo}}</h2>
                  <p>{{cautela.data}}</p>
                  <ion-icon item-end small [color]="cautela.status" name="md-disc" ></ion-icon>
                  <ion-icon *ngIf="modulo.leitura == true" color="primary" name="md-eye" item-end ></ion-icon>
                  <ion-icon *ngIf="modulo.leitura == false" color="danger" item-end name="md-eye-off"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-list>
    
        <ion-list *ngSwitchCase="'caut_a'">
            <ion-list *ngIf="modo != 'add' && cautelas_ap.length != 0" >
                <ion-item *ngFor="let cautela of cautelas_ap" (click)="Modal(cautela,'view')">
                  <h2>{{cautela.titulo}}</h2>
                  <p>{{cautela.data}}</p>
                  <ion-icon item-end small color="secondary" name="md-disc" ></ion-icon>
                  <ion-icon *ngIf="modulo.leitura == false" color="danger" item-end name="md-eye-off"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-list>
      </div>
</ion-content>
