page-admin {
    #center2{
    
        display: flex;
        justify-content: center;
        width: 100%;
            
    }


    #titulo{
        margin-top: 7px;
	    margin-left: 7px;
    }

    #semCor{
        background-color: rgba(10, 23, 55, 0);
        color: white
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

    #add{
        background-color: rgba(34, 88, 213, 0.803);
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
        z-index: 10; 
        bottom: 70px;
    }

    #edit{
        position: fixed;
        z-index: 101; 
        bottom: 5px;
        right: 9px;
    }
}
