<ion-header no-border>
  <ion-navbar color="cinza">
    <ion-row text-center>
        <ion-title *ngIf="addPart == false && sub == undefined" text-center >Criar Subtarefa</ion-title>
        <ion-title *ngIf="addPart == false && sub != undefined" text-center >Editar Subtarefa</ion-title>
        <ion-title *ngIf="addPart == true" text-center >Adicionar participante</ion-title>
        <button (click)="voltar()" item-end color="danger" ion-button clear item-end icon-only>
            <ion-icon name='md-close'></ion-icon>
        </button>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content id="app_fundo_cinza">
  <form *ngIf="addPart == false && sub == undefined" [formGroup]="subtarefaForm" novalidate> 
    <ion-list>
      <ion-item style="background-color: rgba(255, 255, 255, 0); color: white">
        <ion-label color="light" >Titulo:</ion-label>
        <ion-input color="light" formControlName="titulo" type="text" placeholder="Titulo da subtarefa">
        </ion-input>
      </ion-item>
      <ion-item style="background-color: rgba(255, 255, 255, 0);" class="error-message" *ngIf="!subtarefaForm.controls.titulo.valid
                          && subtarefaForm.controls.titulo.dirty">
        <p style="color: white">Por favor informe um titulo com até 30 caracteres</p>
      </ion-item>
      <ion-row padding>
        <h5 id="letraBranca">Descrição:</h5>
        <textarea #myInput formControlName="desc" placeholder="Descrição da subtarefa" id="myInput" rows="1" maxLength="300" (keyup)="resize()"></textarea>
      </ion-row>
      <ion-item style="background-color: rgba(255, 255, 255, 0);">
          <ion-label color="light" style="color: white">Status da subtarefa:</ion-label>
          <ion-select color="light" style="color: white" formControlName="status">
            <ion-option color="light" *ngFor="let status of Status" value="{{status}}">{{status}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item style="background-color: rgba(255, 255, 255, 0);">
        <ion-label color="light">Data de inicio</ion-label>
        <ion-datetime  color="light" style="color: white" placeholder="DD-MM-YYYY" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" min="2018" max="2028" doneText="ok" cancelText="cancelar" formControlName="dataI" >
        </ion-datetime>
      </ion-item>
      <ion-item *ngIf="subtarefaForm.value.dataI" style="background-color: rgba(255, 255, 255, 0);">
          <ion-label color="light">Data de fim</ion-label>
          <ion-datetime color="light" style="color: white" placeholder="DD-MM-YYYY" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" min="2018" [min]="subtarefaForm.value.dataI" doneText="ok" cancelText="cancelar" formControlName="dataF" >
          </ion-datetime>
      </ion-item>
      <ion-item-divider no-lines text-center color="blueDark">Participantes</ion-item-divider>
      <ion-item (click)="modo()" style="background-color: rgba(255, 255, 255, 0); color: white">
          <ion-icon color="light" name="add" item-end></ion-icon>
          Adicionar participante
      </ion-item>

        <ion-list *ngFor="let participante of participantes" inset>
            <ion-grid>
                <div class="itens">
                    <div id="Xicon" (click)="rmParticipante(participante)">
                        <ion-icon color="light" name="md-close"></ion-icon>
                    </div>
                    <div class="itens2" align-items-center>
                        <div id="x">
                            <ion-thumbnail id="thumb" item-start>
                                <img src="{{participante.imagem}}">
                            </ion-thumbnail>
                        </div>
                        <ion-row text-center>
                            <ion-col>
                                <p>
                                    <a id="subTitulo">{{participante.nome}}</a><br>
                                    <a > {{participante.email}} </a>
                                </p>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div id="divisor" ></div>
                    <br>
                    <div class="itens2" text-center>
                        <ion-row id="letraGrande">
                            <ion-col>
                                <span >Setor: {{participante.setor}}</span>
                            </ion-col>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <ion-col>
                                <span >Cargo: {{participante.cargo}}</span>
                            </ion-col>  
                        </ion-row>
                    </div>
                    <br>
                </div>
              </ion-grid>
        </ion-list>

      <div class="edit" id="centro">
          <ion-fab bottom>
              <button ion-fab (click)="criarSubTarefa()" color="blueDark" [disabled]="!subtarefaForm.valid"><ion-icon name="md-checkmark"></ion-icon></button>
          </ion-fab>
      </div>
    </ion-list>
  </form>




  
  <form *ngIf="addPart == false && sub != undefined && sub != null" [formGroup]="subtarefaForm" novalidate> 
    <ion-list>
      <ion-item style="background-color: rgba(255, 255, 255, 0); color: white">
        <ion-label color="light" >Titulo2:</ion-label>
        <ion-input [ngModel]="sub.titulo" color="light" formControlName="titulo" type="text" placeholder="Titulo da subtarefa">
        </ion-input>
      </ion-item>
      <ion-item style="background-color: rgba(255, 255, 255, 0);" class="error-message" *ngIf="!subtarefaForm.controls.titulo.valid
                          && subtarefaForm.controls.titulo.dirty">
        <p style="color: white">Por favor informe um titulo com até 30 caracteres</p>
      </ion-item>
      <ion-row padding>
        <h5 id="letraBranca">Descrição:</h5>
        <textarea [ngModel]="sub.desc" #myInput formControlName="desc" placeholder="Descrição da subtarefa" id="myInput" rows="1" maxLength="300" (keyup)="resize()"></textarea>
      </ion-row>
      <ion-item style="background-color: rgba(255, 255, 255, 0);">
          <ion-label color="light" style="color: white">Status da subtarefa:</ion-label>
          <ion-select [ngModel]="sub.status" color="light" style="color: white" formControlName="status">
            <ion-option color="light" *ngFor="let status of Status" value="{{status}}">{{status}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item style="background-color: rgba(255, 255, 255, 0);">
        <ion-label color="light">Data de inicio</ion-label>
        <ion-datetime [ngModel]="sub.dataI"  color="light" style="color: white" placeholder="{{sub.dataI}}" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" min="2018" max="2028" doneText="ok" cancelText="cancelar" formControlName="dataI" >
        </ion-datetime>
      </ion-item>
      <ion-item *ngIf="subtarefaForm.value.dataI" style="background-color: rgba(255, 255, 255, 0);">
          <ion-label color="light">Data de fim</ion-label>
          <ion-datetime [ngModel]="sub.dataF" color="light" style="color: white" placeholder="{{sub.dataF}}" displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" min="2018" [min]="subtarefaForm.value.dataI" doneText="ok" cancelText="cancelar" formControlName="dataF" >
          </ion-datetime>
      </ion-item>
      <ion-item-divider no-lines text-center color="blueDark">Participantes</ion-item-divider>
      <ion-item (click)="modo()" style="background-color: rgba(255, 255, 255, 0); color: white">
          <ion-icon color="light" name="add" item-end></ion-icon>
          Adicionar participante
      </ion-item>

      <ion-list *ngFor="let participante of participantes" inset>
            <ion-grid>
                <div class="itens">
                        <div id="Xicon" (click)="rmParticipante(participante)">
                            <ion-icon color="light" name="md-close"></ion-icon>
                        </div>
                    <div class="itens2" align-items-center>
                            <div id="x">
                                <ion-thumbnail id="thumb" item-start>
                                    <img src="{{participante.imagem}}">
                                </ion-thumbnail>
                            </div>
                        <ion-row text-center>
                            <ion-col>
                                <p>
                                    <a id="subTitulo">{{participante.nome}}</a><br>
                                    <a > {{participante.email}} </a>
                                </p>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div id="divisor" ></div>
                    <br>
                    <div class="itens2" text-center>
                        <ion-row id="letraGrande">
                            <ion-col>
                                <span >Setor: {{participante.setor}}</span>
                            </ion-col>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <ion-col>
                                <span >Cargo: {{participante.cargo}}</span>
                            </ion-col>  
                        </ion-row>
                    </div>
                    <br>
                </div>
              </ion-grid>
        </ion-list>

      <div class="edit" id="centro">
          <ion-fab bottom>
              <button ion-fab (click)="criarSubTarefa()" color="blueDark" [disabled]="!subtarefaForm.valid"><ion-icon name="md-checkmark"></ion-icon></button>
          </ion-fab>
      </div>
    </ion-list>
  </form>

  <div *ngIf="addPart == true">
      <ion-searchbar class="pesq" (ionInput)="getUsers($event)"></ion-searchbar>
      <br><br><br>
      <ion-list padding>
          <ion-item *ngFor="let usuario of usuariosPesq" (click)="AddPart(usuario)">
            <ion-thumbnail item-start>
                <img src="{{usuario.imagem}}">
            </ion-thumbnail>
            <h2>{{usuario.nome}}</h2>
            <h4>{{usuario.cargo}}</h4>
            <h4>{{usuario.setor}}</h4>
            <h4>{{usuario.email}}</h4><br>
          </ion-item>
      </ion-list>
  </div>
  <br><br>
  <br><br>
</ion-content>
